@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */


h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}
button.white{
  font-size: 13px;

  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 20px 30px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  padding: 11px 18px;
}
button.white:hover{
  background-color: #fff;
  color: #222;
  transition: 0.3s ease;
}


#header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
background: rgb(241, 239, 246);
box-shadow: 0 5px 15px rgba(0, 0, 0,0.05);
z-index: 999;
position: sticky;
top: 0;
left: 0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

#navbar li a:hover,
#navbar li a.active{
  color:rgb(109, 216, 216);
  transition: 0.3s ease;
}
#navbar li a.active::after,
#navbar li a:hover::after{

  content: "";
  width: 30%;
  height: 2px;
  background: rgb(109, 216, 216);
  position: absolute;
  bottom: -4px;
  left: 20px;
  transition: 0.4s ease;
}

#hero{

  background-image: url(img/hero4.png);
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0%;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4{
  padding-bottom: 15px;
}
#hero h1 {
  color: rgb(109, 216, 216);
}
#hero button {
   background-image: url("img/button.png");
   background-color: transparent;
   border: none;
   padding: 14px 80px 14px 65px;
   background-repeat: no-repeat;
   cursor: pointer;
   font-weight: 700;
   font-size: 15px;

}

#feature .fe-box {
  width: 190px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0,0.05);
  border: 1px solid #ddf5e1;
  border-radius: 3px;
  margin: 15px 0;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 24px rgba(70,62, 221,0.1);
}

#feature .fe-box h6 {
  padding: 10px 5px;
  display: inline-block;
  background-color: azure;
  line-height: 1;
  border-radius: 4px;
  color: rgb(109, 216, 216);
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#feature .fe-box:nth-child(2) h6{
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #f4e1ff;
}
#feature .fe-box:nth-child(4) h6{
  background-color: #fff0e1;
}
#feature .fe-box:nth-child(5) h6{
  background-color: #e1f0ff;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #ffe1e1;
}

#product1{
  text-align: center ;
}
#product1 .pro{
 
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0; 
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0,0.05);
  margin: 13px 0;
  transition: ease 0.1s;
  position: relative;
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 24px rgba(0,0,0,0.3);
}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span{
  font-size: 14px;
  color: #465b52;
}

#product1 .pro .des h5 {
  padding-top: 5px;
  font-size: 14px;
  color: #222;
}
#product1 .pro .des i{
  color: rgb(255, 218, 9);
  font-size: 12px;
}
#product1 .pro .des h4 {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(109, 216, 216);
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  font-weight: 500;
  color: #2cd546;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#product1  .pro-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}
#banner{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  color: #fff;
  padding-bottom: 10px;
}
#banner h2{
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner button{
  background-color: rgb(109, 216, 216);
  border: none;
  padding: 20px 30px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin-top: 15px;
}
#banner button:hover{
  background-color: #222;
  transition: 0.3s ease;
}
#banner  span{
  color: #ff0101;
  padding-bottom: 10px;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("img/banner/b17.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;

}
#sm-banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
#sm-banner h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2{
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box2{
  background-image: url("img/banner/b10.jpg");
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 20px;
}
#banner3 h2{
  color: #fff;
  font-size: 22px;
  font-weight: 900;
}

#banner3 h3{
  color: #dc2e2e;
  font-size: 15px;
  font-weight: 800;
}

#banner3 .banner-box2{
  background-image: url("img/banner/b4.jpg");

}

#banner3 .banner-box3{
  background-image: url("img/banner/b18.jpg");
}
#newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041042;
  margin: auto;
}
#newsletter h4{
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}
#newsletter p{
  font-size: 14px;
  color: #625e5e;
  font-weight: 600;
}
#newsletter input{
  height: 3.5rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {

  background-color: rgb(2, 172, 223);
  color: white;
  white-space: nowrap;
  width: 10.1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter .form{
  display: flex;
  width: 40%; 
}
#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #041e42;
  color: #fff;
  padding: 40px 80px;

}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter input {
  height: 50px;
  padding: 0 15px;
  font-size: 16px;
  width: 300px;
  border: none;
  border-radius: 6px;
  outline: none;
  margin-right: 10px;
}

#newsletter button.normal {
  height: 50px;
  padding: 0 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #ffbd27;
  font-size: 16px;
  font-weight: 600;
}

#footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 80px;
  background: #e3e6f3;
  gap: 40px;
}

#footer .col {
  flex: 1;
  min-width: 220px;
}

#footer h4 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 700;
}

#footer a {
  display: block;
  margin: 8px 0;
  color: #222;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s ease;
}

#footer a:hover {
  color: #ffbd27;
}

#footer .follow .icon i {
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

#footer .follow .icon i:hover {
  color: #ffbd27;
}

#footer .install .row img {
  width: 140px;
  margin-right: 10px;
}

#footer .copyright {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #555;
}

#page-header{
  background-image: url("img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;

}
#page-header h2,p{
  color: rgb(0, 0, 0);
}

#pagination {
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
#pagination a i {

  font-size: 15px;
  font-weight: 600;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

#prodetails {
  display: flex;
  justify-content: space-between;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 45px;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 10px;
}

#prodetails .single-pro-details button {
  background-color: #088178;
  color: white;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #088178;
  cursor: pointer;
  transition: 0.3s;
}

button.normal:hover {
  background: #3d4e4d;
  color: #fff;
}

#page-header.blog-header{
  background-image: url(img/banner/b19.jpg);
}


#blog.blog-image img{
  background-position: center;
  flex-wrap: wrap;
  width: 130%;
  height: 500px;
}

#blog{
  padding: 150px 150px 0 150px;
}
#blog .blog-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
  
}
#blog .blog-image{
  width: 50%;
  margin-right: 40px;
}
#blog .blog-image img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details{
  width: 50%;

}
#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: black;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
#blog .blog-details p{

  font-size: 14px;
  color: #625e5e;
  font-weight: 600;

}
#blog .blog-details a::before{
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover{
  color:#088178
}

#blog .blog-details a:hover::before{
  background-color: #088178;
}
#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left:0;
  font-size: 70px;
  font-weight: 700;
  color: #cce7d0;
  z-index: -19;
}

#page-header.about-header{
  background-image: url(img/about/banner.png);
}
#about-head img{
  width: 50%;
  height: auto;
}
#about-head {
  display: flex;
  align-items: center;
}
#about-head div {
  padding-left: 40px;
}
#about-app{

  text-align: center;
}

#about-app .video{
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

#about-app .video video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#contact-details{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

#contact-details .details{
  width:45%;
}

#contact-details .details span,
#form-details form span{
  font-size:12px;
}

#contact-details .details h2,
#form-details form h2{
  font-size:26px;
  line-height:35px;
  padding:20px 0;
}

#contact-details .details h3{
  font-size:16px;
  padding-bottom:15px;
}

#contact-details .details li{
  list-style:none;
  display:flex;
  padding:10px 0;
}

#contact-details .details li i{
  font-size:14px;
  padding-right:22px;
  display:flex;
}

#contact-details .details li p{
  margin:0;
  font-size:14px;
  margin-left:20px;
}

#contact-details .map{
  width:55%;
  height:500px;
}

#contact-details .map iframe{
  width:100%;
  height:100%;
}

/* THIS LINE IS THE FIX */
#form-details{
  display:flex;
  justify-content:space-between;
  gap:30px;
}

/* FIXED SELECTOR HERE ↓ */
#form-details form{
  width:65%;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}

#form-details form input,
#form-details form textarea{
  width:100%;
  padding:12px 15px;
  outline:none;
  margin-bottom:20px;
  border:1px solid #ddd;
}

/* give people a width – this forces them to right side */
#form-details .people{
  width:30%;
}

#form-details .people div{
  padding-bottom:25px;
}

#form-details .people div img{
  width:65px;
  height:65px;
  object-fit:cover;
}



#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(5) input {
  width: 50px;
  padding: 10px 5px 10px 15px;
}

#cart table td {
  text-align: center;
  padding: 15px;
}

#cart table thead {
  border-bottom: 1px solid #ccc;
}

#cart-add {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#coupon {
  width: 50%;
}

#coupon input {
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid #aaa;
}

#subtotal {
  width: 40%;
  border: 1px solid #aaa;
  padding: 30px;
}

#subtotal table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
